@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

/* Header */

.header {
  color: #fff;
  background-color: #1f2937;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
}

.header-content {
  display: flex;
}

/* Information */
.figures {
  display: flex;
}

/* Quote */
.quote {
  background-color: #e5e7eb;
}

/* Call to action */
.call-to-action-container {
  display: flex;
}

/* Footer */
.footer {
  color: #fff;
  background-color: #1f2937;
}
