@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

/* Container size and position*/

.container {
  width: 55vw;
  margin: 0 auto;
}

/* Header */

.header {
  color: #fff;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.menu {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links ul {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}

.header-content {
  margin: 120px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.header-content div {
  flex: 1;
}

.placeholder-image {
  background-color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Information */
.figures {
  display: flex;
  flex-wrap: wrap;
}

/* Quote */
.quote {
  background-color: #e4e7ea;
}

/* Call to action */
.call-to-action-container {
  display: flex;
  flex-wrap: wrap;
}

/* Footer */
.footer {
  color: #fff;
  background-color: #1f2937;
}
