@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

/* Container size and position*/

.container {
  width: 55vw;
  margin: 0 auto;
}

/* Header */

.header {
  color: #fff;
  background-color: #1f2937;
}

.menu {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.links ul {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.header-content {
  margin: 120px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.header-content div {
  flex: 1;
}

.signup h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.signup p {
  font-size: 18px;
  color: #e5e7eb;
}

.signup button {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  margin-top: 12px;
}

.placeholder-image {
  background-color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Information */

.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin: 2rem 0;
}

.figures {
  margin-bottom: 100px;
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.figure {
  width: 150px;
}

.box {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}

.subtext {
  text-align: center;
}

/* Quote */
.quote {
  background-color: #e4e7ea;
}

.quote-margin {
  padding: 100px 50px;
}

.quote em {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.author {
  font-size: 24px;
  font-weight: 700;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

/* Call to action */
.call-to-action-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 10px;
  margin: 60px auto;
  padding: 30px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.signup-button {
  margin: 0 auto;
}

.signup-button button {
  font-size: 16px;
  font-weight: 700;
  color: #f9faf8;
  background-color: #3882f6;
  border: 3px solid #f9faf8;
  border-radius: 8px;
  padding: 8px 32px;
}

/* Footer */
.footer {
  color: #fff;
  background-color: #1f2937;
}

.container p {
  text-align: center;
  padding: 24px 0;
}
